:root {
  --dark: #111;
  --light: #f2f2f2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, var(--light), #3b5998);
  background-repeat: no-repeat;
  font-family: serif;
  height: 100vh;
}

a:visited {
  text-decoration: none;
  color: var(--dark);
}

.main-block {
  padding: 25px;
}

.top-menu {
  padding: 15px 0;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.title {
  font-size: 60px;
  font-weight: bold;
  font-family: "Faster One", cursive;
  color: var(--dark);
  margin-left: 60px;
}

form {
  display: flex;
}

input {
  padding: 5px;
  border: none;
  height: 35px;
}

input:focus {
  background-color: var(--light);
}

button {
  margin-left: 15px;
  padding: 9px;
  border: none;
  background-color: white;
  font-weight: bold;
  border: 1px solid white;
  transition: 0.3s;
}

button:hover {
  border: 1px solid var(--dark);
  cursor: pointer;
}

.sub-menu-block {
  padding-right: 50px;
  text-align: right;
}

.sub-menu-form {
  display: inline-block;
}

.sub-menu-select {
  width: 100px;
  margin: 5px;
  padding: 5px;
  text-align: right;
}

.movie-section {
  position: relative;
}

.block-for-movies {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1300px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.movie-block {
  max-width: 220px;
  max-height: 400px;
  text-align: center;
}

.main-page-logo {
  width: 100%;
  height: 80%;
}

.main-page-movie-title {
  display: inline-block;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  color: var(--dark);
}

.block-appear {
  opacity: 0.01;
  transform: scale(0.9) translateY(20px);
}

.block-appear-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 500ms ease-out;
}

.block-enter {
  opacity: 0.01;
  transform: scale(0.9) translateY(20px);
}

.block-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 800ms ease-out 400ms;
}

.block-exit {
  opacity: 1;
  transform: scale(1) translateY(0%);
}

.block-exit-active {
  opacity: 0.01;
  transform: scale(0.9) translateY(20px);
  transition: all 300ms ease-out;
}

.item-block {
  padding: 30px;
  font-family: sans-serif;
  display: grid;
  grid-template-areas:
    "poster info info"
    "poster button button";
  grid-template-columns: fit-content(300px) fit-content(300px);
  justify-items: start;
  grid-gap: 20px;
}

.poster-block {
  grid-area: poster;
  display: block;
  float: left;
  width: 300px;
}

.item-information {
  grid-area: info;
  display: block;
  padding: 10px 0;
}

.img-item {
  width: 100%;
}

.item-common-block {
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-gap: 20px;
}

.item-common-info {
  font-size: 30px;
  color: darkblue;
  font-weight: bold;
  display: block;
}

.item-common-info-value {
  margin-left: 10px;
  font-size: 30px;
  color: var(--dark);
  display: block;
}

.plot {
  vertical-align: top;
  display: inline-block;
}

.plot-content {
  display: inline-block;
  font-weight: normal;
  max-width: 850px;
}

.item-button {
  margin-left: 0;
  grid-area: button;
  display: block;
  width: 73px;
  height: 34px;
}

.item-button a {
  text-decoration: none;
  display: block;
  height: 100%;
}

@media (max-width: 555px) {
  .top-menu {
    grid-template-columns: 100%;
  }
  .title {
    margin-left: 0;
  }
  .item-block {
    grid-template-areas:
      "poster"
      "info"
      "button";
  }
  .poster-block {
    width: 281px;
  }
}

@media (max-width: 1330px) {
  .item-common-block {
    grid-template-columns: 1fr;
  }
  .sub-menu-block {
    padding-right: 0;
  }
}
